@font-face {
  font-family: 'demo';
  src: url('http://at.alicdn.com/t/font_1452841630_4890268.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/font_1452841630_4890268.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://at.alicdn.com/t/font_1452841630_4890268.woff') format('woff'), /* chrome、firefox */ url('http://at.alicdn.com/t/font_1452841630_4890268.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_1452841630_4890268.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-role=jiesao]:before {
  font-family: demo;
  content: "\e602";
}
*[data-role=jiesao][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e602";
  text-align: center;
}
*[data-role=jiesao][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=jiesao][icon-pos=right]:after {
  font-family: demo;
  content: "\e602";
}
*[data-role=jiesao][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=jiesao][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e602";
}
*[data-role=fangdajing]:before {
  font-family: demo;
  content: "\e606";
}
*[data-role=fangdajing][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e606";
  text-align: center;
}
*[data-role=fangdajing][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=fangdajing][icon-pos=right]:after {
  font-family: demo;
  content: "\e606";
}
*[data-role=fangdajing][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=fangdajing][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e606";
}
*[data-role=ziliao]:before {
  font-family: demo;
  content: "\e600";
}
*[data-role=ziliao][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e600";
  text-align: center;
}
*[data-role=ziliao][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=ziliao][icon-pos=right]:after {
  font-family: demo;
  content: "\e600";
}
*[data-role=ziliao][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=ziliao][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e600";
}
*[data-role=yumao]:before {
  font-family: demo;
  content: "\e601";
}
*[data-role=yumao][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e601";
  text-align: center;
}
*[data-role=yumao][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=yumao][icon-pos=right]:after {
  font-family: demo;
  content: "\e601";
}
*[data-role=yumao][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=yumao][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e601";
}
*[data-role=pingtai]:before {
  font-family: demo;
  content: "\e605";
}
*[data-role=pingtai][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e605";
  text-align: center;
}
*[data-role=pingtai][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=pingtai][icon-pos=right]:after {
  font-family: demo;
  content: "\e605";
}
*[data-role=pingtai][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=pingtai][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e605";
}
*[data-role=chilun]:before {
  font-family: demo;
  content: "\e604";
}
*[data-role=chilun][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e604";
  text-align: center;
}
*[data-role=chilun][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=chilun][icon-pos=right]:after {
  font-family: demo;
  content: "\e604";
}
*[data-role=chilun][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=chilun][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e604";
}
